Source: pdns-recursor
Section: net
Maintainer: PowerDNS.COM BV <powerdns.support@powerdns.com>
Priority: optional
Standards-Version: 4.5.1
Build-Conflicts: libboost-context-dev [mips mipsel]
Build-Depends: debhelper-compat (= 13),
               libboost-context-dev [amd64 arm64 armel armhf i386 ppc64el],
               libboost-dev,
               libboost-program-options-dev,
               libboost-system-dev,
               libboost-test-dev,
               libboost-thread-dev,
               libcap-dev [linux-any],
               libfstrm-dev,
               libluajit-5.1-dev [amd64] | liblua5.1-0-dev,
               liblua5.1-0-dev [!amd64],
               libprotobuf-dev,
               libsnmp-dev,
               libsodium-dev,
               libssl-dev,
               libsystemd-dev,
               pkg-config,
               protobuf-compiler,
               ragel,
               systemd
Homepage: https://www.powerdns.com/
Rules-Requires-Root: no

Package: pdns-recursor
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: adduser,
         dns-root-data,
         ${misc:Depends},
         ${shlibs:Depends}
Description: PowerDNS Recursor
 High-performance resolving name server, utilizing multiple
 processor and including Lua scripting capabilities.
